<!DOCTYPE html>
<html lang="en" color-mode="user">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="icon" href="data:;base64,=">
    <title>{% block title %}{% endblock %}</title>
    <style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>